---
import { DropdownMenuDemo } from "@/components/DropdownMenuDemo"
import { DialogDemo } from "@/components/DialogDemo"
import { Button } from "@/components/ui/button"
import "@/styles/globals.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Shadcn UI Demo</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-8 text-center text-3xl font-black">
        Astro + Shadcn UI Demo
      </h1>
      <div class="mt-16 flex flex-col items-center gap-16">
        <Button>Button</Button>
        <DropdownMenuDemo client:load />
        <DialogDemo client:load />
      </div>
    </div>
  </body>
</html>
